{% extends 'core/core.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Become Customer |{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
    <div class="login-form-container">

        <form action="." method="post">
            {% csrf_token %}
            <h3>Become Customer</h3>
            <span>Username</span>
            <input type="text" class='box' placeholder="Enter your username " id="{{ form.username }}" >
            <span>Email</span>
            <input type="text" class='box' placeholder="Enter your username " id="{{ form.email }}" >
            <span>Password</span>
            <input type="password" class="box" placeholder="Enter your password" id="{{ form.password1 }}">
            <span>Confirm Password</span>
            <input type="password" class="box" placeholder="Enter your password" id="{{ form.password2 }}">
            <input type="submit" value="signin" class="btn">
        </form>
    </div>
{% endblock %}